h1 {
    text-align: center;
    background-color: orange;
}
p {
    font-size: large;
}
h2 {
    text-align: center;
}
h3 {
    font-size: larger;
}
body {
    background-color: paleturquoise;
    
}
a {
    font-size: x-large;
}